general: # miscellaneous parameters
  workbench_no: 2 # associated workbench number
  production_stage_name: "Assembly"
  send_upload_request: true
  create_new_unit: false
  continue_operation: true

new_unit_creation_settings:
  unit_type: "Криптоанализатор"
  modules:
    - Module name 1
    - Module name 2

endpoints:
  hub_socket: "http://192.168.88.254:5000" # hub api socket on the LAN

api: # settings regarding rest api server
  server_ip: "127.0.0.1" # an ip a server will run on
  server_port: 8080 # port for the server to run on

known_hid_devices: # known attached devices with their full names
  rfid_reader: "Sycreader RFID Technology Co., Ltd SYC ID&IC USB Reader"
  barcode_reader: "HENEX 2D Barcode Scanner"

screen:
  enforce_headless: false # enforce headless mode even on screen compatible devices
  rotate_output: true # rotate output 180 degrees

developer: # do not change when used in production, testing only
  disable_id_validation: true # skip validating the ID card and authorize anyone regardless of the ID card no.
  disable_barcode_validation: true # skip validating the barcode
  render_images: true # save rendered screens locally instead of drawing them onto an e-ink display