general: # miscellaneous parameters
  spoke_num: 1 # device number

endpoints:
  hub_socket: "http://192.168.1.2:5000" # hub api socket on the LAN

api: # settings regarding rest api server
  server_ip: "0.0.0.0" # an ip a server will run on
  server_port: 5000 # port for the server to run on

known_hid_devices: # known attached devices with their full names
  rfid_reader: "Sycreader RFID Technology Co., Ltd SYC ID&IC USB Reader"
  barcode_reader: "USB Developer Android"

developer: # do not change when used in production, testing only
  disable_id_validation: true # skip validating the ID card and authorize anyone regardless of the ID card no.
  disable_barcode_validation: true # skip validating the barcode
  render_images: false # save rendered screens locally instead of drawing them onto an e-ink display