[Unit]
Description=Feecc QA system daemon for the Spoke device
After=network.target

[Service]
Type=simple
WorkingDirectory=PROJECT_DIRECTORY
ExecStart=PROJECT_DIRECTORY/.venv/bin/python PROJECT_DIRECTORY/main.py
User=PROJECT_USER
Restart=on-failure

[Install]
WantedBy=multi-user.target